<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Stats</title>
    <style>
        th, td {
            border: 1px dashed black;
            {#border-collapse: collapse;#}
            border-radius: 10px;
        }
    </style>
    <script language="JavaScript">
        function refresh() {
            window.location.reload();
        }
        setTimeout('refresh()', 10000);
    </script>
</head>
<body>
<h3>
    Statistics of Author's Collected Data
</h3>
<table>
    <tr>
        <th>Sentiment Chart</th>
        <th>Emotion Chart</th>
    </tr>
    <tr>
        <td>
            <img src="data:image/png;base64, {{chart_sent|safe}}" alt="" id="img">
        </td>
        <td>
            <img src="data:image/png;base64, {{chart_emo|safe}}" alt="" id="img">
        </td>
    </tr>
    <tr>
        <th>By the Numbers</th>
    </tr>
    <tr>
        <td align="center">
            <b>Total Tweets Fetched:</b> {{ numbers.tweets }}
            <br/>
            <br/>
        </td>
    </tr>
</table>
</body>
</html>